body {
	text-align: center;
	background: lightgrey;
}

.linkerzone {
	border: 1px solid red;
	margin-top: 10px;
	padding: 15px;
	width: 230px;
	float: left;
}

.contentzone {
	border: 1px solid blue;
	width: 850px;
	float: left;
	
}

.menubutton {
	width: 200px;
	height: 50px;
	margin-bottom: 15px;
}

.mydatepicker {
	width: 100px;
	height: 100px;	
}

.dagNietOK {
	background: red;
	color: white;
}

.listpersonen {
	width: 150px;
	border: 1px solid grey;
}

.mgTop {
	margin-top: 10px;
}

.onderdeelregistratiepanel {
	margin-top: 15px;
	width: 250px;
	margin-left: 10px;
}

.normalfieldlabel {
	width: 75px;
	text-align: right;
}


